[worldserver]

##############################################
# mod-player-bot-level-brackets configuration
##############################################
#
#    BotLevelBrackets.DebugMode
#        Description: Enables debug logging for the Bot Level Brackets module.
#        Default:     0 (disabled)
#                     Valid values: 0 (off) / 1 (on)
BotLevelBrackets.DebugMode = 0

#    BotLevelBrackets.CheckFrequency
#        Description: The frequency (in seconds) at which the bot level distribution check is performed.
#        Default:     300
BotLevelBrackets.CheckFrequency = 300

#    BotLevelBrackets.Range1Pct
#        Description: Desired percentage of bots within level range 1-10.
#        Default:     14
BotLevelBrackets.Range1Pct = 14

#    BotLevelBrackets.Range2Pct
#        Description: Desired percentage of bots within level range 11-20.
#        Default:     12
BotLevelBrackets.Range2Pct = 12

#    BotLevelBrackets.Range3Pct
#        Description: Desired percentage of bots within level range 21-30.
#        Default:     12
BotLevelBrackets.Range3Pct = 12

#    BotLevelBrackets.Range4Pct
#        Description: Desired percentage of bots within level range 31-40.
#        Default:     12
BotLevelBrackets.Range4Pct = 12

#    BotLevelBrackets.Range5Pct
#        Description: Desired percentage of bots within level range 41-50.
#        Default:     12
BotLevelBrackets.Range5Pct = 12

#    BotLevelBrackets.Range6Pct
#        Description: Desired percentage of bots within level range 51-60.
#        Default:     12
BotLevelBrackets.Range6Pct = 12

#    BotLevelBrackets.Range7Pct
#        Description: Desired percentage of bots within level range 61-70.
#        Default:     12
BotLevelBrackets.Range7Pct = 12

#    BotLevelBrackets.Range8Pct
#        Description: Desired percentage of bots within level range 71-80.
#        Default:     14
BotLevelBrackets.Range8Pct = 14
